# Database
DATABASE_URL=postgresql+asyncpg://edson:yourpassword@db:5432/etsy_agents
DB_PASSWORD=yourpassword

# Redis
REDIS_URL=redis://redis:6379/0

# Anthropic
ANTHROPIC_API_KEY=sk-ant-xxxxx

# Etsy API v3
ETSY_API_KEY=your_etsy_api_key
ETSY_SHARED_SECRET=your_etsy_shared_secret

# App
SECRET_KEY=756ff33804ae0f7a17618b3cf2a8b02722697163987dfdbc3f465b856660ea84
DEBUG=true
